html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.react-tags {
  width: 100%;
  min-width: 100%;
  height: 80px;
}
.react-tags__selected button{
  background-color: #e9d8fd;
  border-radius: 25px;
  padding: 2px;
  margin: 2px;
  position: relative;
}

.react-tags__selected button::after{
  position: absolute;
  top: -35px;
  bottom: 0;
  right: 8px;
  content: "\2715"; /* use the hex value here... */
  font-size: 14px; 
  color: black;
  line-height: 100px;
  text-align: center;
}

.react-tags__selected button span {
  padding: 5px;
  padding-right: 20px;
}
.react-tags__selected, .react-tags__search{
  height: 50%;
}
.react-tags__search-wrapper{
  height: 100%;
}
.react-tags__suggestions{
  background-color: white;
  border-radius: 8px;
  padding:10px;
  position: relative;
  right: 8px;
  top: 5px;
  width: calc(100% + 16px);
  box-shadow: 0 0 2px 0px #717171;
}

.react-tags__suggestions ul {
  list-style-type: none;
  
}
.react-tags__suggestions ul li:hover {
  background-color: #edf2f6;
  cursor: pointer;
}
.react-tags__suggestions ul li:focus {
  background-color: #edf2f6;
}
.react-tags__suggestions ul li:active {
  background-color: #edf2f6;
}

.react-tags__suggestions ul li span:focus {
  background-color: #edf2f6;
}

.react-tags__search input {
  height: 100%;
  width: 100% !important;
  padding: 5px;
}

